.section {
    padding-top: 1em;
    padding-bottom: 1em;
}

#activityTable {
    font-size: 15px;
}

.panel{
    border-radius: 4px;
}

#nameField, #descriptionField, #placeField, #inputIdField, #btnCreateActivity, #btnEditActivity {
    border-radius: 7px;
}

#descriptionField {
    height: 100px;
}

#startDate {
    width:35%;
}

#endDate {
    width:35%;
}

#aboutusH, #aboutusA, #aboutusG {
    border-radius: 110px;
    height: 185px;
}
